:host {
    --sds-c-textarea-sizing-min-height: 80px;
    --slds-c-textarea-radius-border: 0px 0px 0.25rem 0.25rem;
    --slds-c-textarea-color-border: white;
}

.container{
    position: relative !important;
    border-width: 0.5px !important;
    border-style: solid !important;
    border-color: rgb(201, 201, 201) !important;
    border-radius: 0.25rem !important;
    background-clip: padding-box !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;  
}

.action-bar{
    background-color: #F3F2F2;
}

.inputbox{
    height:100px;
}

.slds-chat{
    margin-bottom: 0px !important;
}