.message-card {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.card-answer {
  background: #f9f9f9;
}

.card-question {
  background: #ffffff;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.icon-answer {
  width: 32px;
  height: 32px;
  position: absolute;
  background: #1b96ff;
  border-radius:50%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar-column {
  width: 32px;
}

.response-column{
  padding-top: 6px;
  max-width: 90%;
}